@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #f0f0f2;
  color: #18181b;
}

@layer base {
  * {
    font-family: var(--font-inter), system-ui, sans-serif;
  }
}
